@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  --font-pretendard: 'Pretendard', sans-serif;
  --radius: 0.6rem;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Pretendard', sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
